<div class="clock-page-container">
  <header class="clock-header">
    <app-clock-selector (clockTypeChanged)="onClockTypeChanged($event)"></app-clock-selector>
  </header>

  <aside class="clock-sidebar">
    <app-time-slider (timeChanged)="onTimeChanged($event)"></app-time-slider>
  </aside>

  <main class="clock-display">
    <app-analog-clock *ngIf="selectedClock === 'Analog'" [time]="currentTime"></app-analog-clock>
    <app-digital-clock *ngIf="selectedClock === 'Digital'" [time]="currentTime"></app-digital-clock>
    <app-binary-clock *ngIf="selectedClock === 'Binary'" [time]="currentTime"></app-binary-clock>
    <app-textual-clock *ngIf="selectedClock === 'Textual'" [time]="currentTime"></app-textual-clock>
    <app-bar-clock *ngIf="selectedClock === 'Bar Graph'" [time]="currentTime"></app-bar-clock>
    <app-dot-matrix-clock *ngIf="selectedClock === 'Dot Matrix'" [time]="currentTime"></app-dot-matrix-clock>
    <app-hexadecimal-clock *ngIf="selectedClock === 'Hexadecimal'" [time]="currentTime"></app-hexadecimal-clock>
    <app-tetris-clock *ngIf="selectedClock === 'Tetris'" [time]="currentTime"></app-tetris-clock>
    <app-solar-system-clock *ngIf="selectedClock === 'Solar System'" [time]="currentTime"></app-solar-system-clock>
    <app-morse-code-clock *ngIf="selectedClock === 'Morse Code'" [time]="currentTime"></app-morse-code-clock>
  </main>
  <app-user-email></app-user-email>
</div>